<!doctype html>
<html>
<style>
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: #272b34;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	color: white;
	line-height: 1em;
	margin: 0;
padding: 2em 1em;
}

.button {
  background-color: #1eaa72;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>
<body>
<h1>Weather...</h1>
<div id='chart' class='chart'></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
var graphs = {{graphJSON | safe}};
Plotly.plot('chart',graphs,{});
</script>
</html>
